<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../static/upto/style.css">
</head>
<body>
    <div id="header"></div>
    <div id="content">
        <div id="siginUpTo">HERE CONNECTION WITH UP2</div>
        <div id="siginFB">HERE CONNECTION WITH FACEBOOK</div>
        <div id="siginGoogle">HERE CONNECTION WITH GOOGLE+</div>
        <div id="siginTwitter">HERE CONNECTION WITH TWITTER</div>
        <div id="rightAdvertise">HERE PUB</div>
    </div>
    <div id="footer">FOOTER</div>
</body>
</html>