<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello {{ one_user.user.username}}</title>
</head>
<body>
{% if one_user %}
    <div>username : {{ one_user.user.username}}</div>
    <div>id user : {{ one_user.user.id}}</div>
    <div>id users : {{ one_user.id}}</div>

    <h3>WISHES</h3>
{% for wish in one_user.wishes %}
    <div id="wishes">{{ wish.title }}</div>
{% endfor %}

    <h2>Total wishes : {{ wishesNumber }}</h2>

    <h3>Friends</h3>
{% for friend in one_user.friends %}
    <div id="friends">{{ friend.from_user.user.username }}</div>
{% endfor %}

{% else %}
    <p>No user</p>
{% endif %}
</body>
</html>