<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <meta charset="UTF-8">
    <title>Test geo loc</title>
   <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
        width: 50%;
      }
#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

    </style>
    <style>
      #right-panel {
        float: right;
        width: 48%;
        padding-left: 2%;
      }
      #output {
        font-size: 11px;
      }
    </style>
</head>
<body>
    <div id="right-panel">
      <div id="inputs">
        <pre>
var origin1 = {lat: 55.930, lng: -3.118};
var origin2 = 'Greenwich, England';
var destinationA = 'Stockholm, Sweden';
var destinationB = {lat: 50.087, lng: 14.421};
        </pre>
      </div>
      <div>
        <strong>Results</strong>
      </div>
      <div id="output"></div>
    </div>
    <div id="map"></div>

<input type="hidden" name="lat" id="lat" />
<input type="hidden" name="lng" id="lng" />
<div>Ici sandbox de geolocalisation :</div>
<div id="infoposition"></div>
<script>

var pos;
if(navigator.geolocation)
{
    var destination = '8 place Camoletti, 1204 Genève';
    navigator.geolocation.getCurrentPosition(savecoordinates);
}


function savecoordinates(position)
{
    pos = {lat: position.coords.latitude, lng: position.coords.longitude};
    $.ajax(
    {
        url : '{% url "savecoordinates" %}',
        type: "GET",
        data: pos,
        success: function(data, textStatus, jqXHR)
        {
            alert("samerelipopette");
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            //if fails
        }
    });
}

function getDistance(position) {
  var markersArray = [];
  var origin1 = {lat: position.coords.latitude, lng: position.coords.longitude};
  var destinationA = destination;
  var destinationB = 'Rue Chausse Coq 3, 1211 Genève';

  var geocoder = new google.maps.Geocoder;

  var service = new google.maps.DistanceMatrixService;
  service.getDistanceMatrix({
    origins: [origin1],
    destinations: [destinationA, destinationB],
    travelMode: google.maps.TravelMode.DRIVING,
    unitSystem: google.maps.UnitSystem.METRIC,
    avoidHighways: false,
    avoidTolls: false
  }, function callback(response, status) {
    if (status !== google.maps.DistanceMatrixStatus.OK) {
      alert('Error was: ' + status);
    } else {
      var originList = response.originAddresses;
      var destinationList = response.destinationAddresses;

      var showGeocodedAddressOnMap = function(asDestination) {
        return function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            markersArray.push(new google.maps.Marker({
              map: map,
              position: results[0].geometry.location,
              icon: icon
            }));
          } else {
            alert('Geocode was not successful due to: ' + status);
          }
        };
      };

      for (var i = 0; i < originList.length; i++) {
        var results = response.rows[i].elements;
        for (var j = 0; j < results.length; j++) {
            alert('Vous etes a ' + results[j].distance.text);
        }
      }
    }
  });
}

function deleteMarkers(markersArray) {
  for (var i = 0; i < markersArray.length; i++) {
    markersArray[i].setMap(null);
  }
  markersArray = [];
}
</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcRm_4W48Hu4OdwAHSaIfmWerF475RQA0"
        async defer></script>
</body>
</html>