<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <h1>User Details</h1>
</head>
<body>
<div id="contentUserDetails">
        <h2>Hello {{user.user.username}}</h2>

        <div title="picture">
            {% if user.picture%}
                <img src='data:image/jpeg;base64,{{ user.get_picture }}' height="225">
            {% else %}
                <input value="No picture profile" readonly="readonly">
            {% endif%}
            {% block content %}
                <form action="{% url 'uploadpictureuser' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="username" id="username" value="{{user.user.username}}">
                        <p><input type="file" name="picture" id="picture"/></p>
                        <p><input type="submit" name="submit" id="submit" value="Submit"/></p>
                </form>
            {% endblock %}
        </div>
        <br/>
        <div id="first_name" title="first_name">First name : {{user.user.first_name}}</div>
        <div id="last_name" title="last_name">Last name : {{user.user.last_name}}</div>
        <div id="email" title="email">Email : {{user.user.email}}</div>
        <br/>
        <div id="is_active" title="is_active">Is active : {{user.user.is_active}}</div>
        <div id="is_staff" title="is_staff">Is staff : {{user.user.is_staff}}</div>
        <div id="is_superuser" title="is_superuser">Is superuser : {{user.user.is_superuser}}</div>
        <br />
        <div id="last_login" title="last_login">Last Login : {{user.user.last_login}}</div>
        <div id="date_joined" title="date_joined">Date Joined : {{user.user.last_joined}}</div>
</div>
</body>
</html>