<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wishes</title>
    <link rel="stylesheet" type="text/css" href="../../static/upto/wishes.css">
    <link rel="stylesheet" type="text/css" href="/static/js/datetimepicker/jquery.datetimepicker.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
<style type="text/css">

.custom-date-style {
	background-color: red !important;
}

.input{
}
.input-wide{
	width: 500px;
}

</style>
</head>
<body>
<script src="/static/js/datetimepicker/jquery.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/js/imagepreview.js"></script>
<script src="/static/js/datetimepicker/build/jquery.datetimepicker.full.js"></script>
<script type="text/javascript" src="/static/js/autoCompleteAddress.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcRm_4W48Hu4OdwAHSaIfmWerF475RQA0&libraries=places&callback=initAutocomplete" async defer></script>
<div class="container-fluid">
    <div class="row">
            <div id="col-sm-12">
                <div id="header-container">
                     <div class="row">
                        <div class="col-sm-1">
                            <div><img class="img-responsive" src="/static/medias/logo_fake.png" width="50" height="50"/></div>
                        </div>
                         <div class="col-sm-1">
                            <div><img class="img-responsive" src="/static/medias/event_notif_fake.png" width="50" height="50"/></div>
                        </div>
                         <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <form  name="addweesh" id="addweesh" action="../createwish/" method="POST">
                                <div class="input-list style-1 clearfix"><input type="text" name="weeshtitle" id="weeshtitle" placeholder="Make a weesh..."></div>
                                <input id="create_weesh" value="Yes I do" type='submit'>
                            </form>
                        </div>
                     </div>

                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-sm-3">
            <div id="left-profile-container">
                <div id="myAccount">
                        {% if current_user.picture %}
                            <img src='data:image/jpeg;base64,{{ current_user.get_picture }}' height="50">
                        {% endif %}
                    <a href="{% url 'userdetails' current_user.user.username %}">{{ current_user.user.username }}</a></div>
                <div><a href="{% url 'logout' %}">Logout</a></div>
                <div>Your weeshes :</div>
                <div>
                    <ul>
                        {% if wishes_user %}
                            {% for wish in wishes_user %}
                                <li>{{ wish.title }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div id="left-filter-container">
                <div>Filtered by :</div><br />
                <div>
                    <form action="{% url 'filter' %}" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" />
                    </form>
                </div>
            </div>
            <div id="left-event-container">
                <h1>Create an event</h1>
                {% block content %}
                <form action="{% url 'createevent' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div>Event picture : <div id="preview1"> Import your picture </div>
                        <div><input type="file" name="thumbnail" id="thumbnail"></div>
                    </div>
                    <div>Event Name : <input type="text" name="eventName" /></div>
                    <div>Je suis Owner : {{ current_user.user_id.user.username }}<input type="text" name="user_id" value="{{ current_user.id }}"/></div>

                    <div>Start date : <input type="text" name="start_date" id="default_datetimepicker1" readonly/></div>
                    <div>End date : <input type="text" name="end_date" id="default_datetimepicker2" readonly/></div>
                   <div id="address">
                    <div id="locationField">
                      <input id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text"></input>
                    </div>
                        <div class="label">Street address</div>
                        <div class="slimField"><input class="field" id="street_number" disabled="true"></input></div>
                        <div class="wideField" colspan="2"><input class="field" id="route" disabled="true"></input></div>
                        <div>
                        <div class="label">City</div>
                        <div class="wideField" colspan="3"><input class="field" id="locality" disabled="true"></input></div>
                        </div>
                      <div>
                        <div class="label">State</div>
                        <div class="slimField"><input class="field" id="administrative_area_level_1" disabled="true"></input></div>
                        <div class="label">Zip code</div>
                        <div class="wideField"><input class="field" id="postal_code" disabled="true"></input></div>
                      </div>
                      <div>
                        <div class="label">Country</div>
                        <div class="wideField" colspan="3"><input class="field" id="country" disabled="true"></input></div>
                      </div>
                    </div>

                <input type="submit" value="Create Event" />
                </form>
                {% endblock %}
            </div>
        </div>
        <div class="col-sm-6" id="weeshes-list">
        </div>
        <div class="col-sm-3">
            <div id="right-suggestions-container">
                Suggestions
                <div> Star wars Watching</div>
                <div>Tennis 5km</div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/static/js/datetimepicker/selecterDatetimepicker.js"></script>
<script>/*$(function() {
    $('#preview1').imagepreview({
        input: '[name="thumbnail"]',
        reset: '#reset1',
        preview: '#preview1'
     });
 });*/

$("#addweesh").submit(function(e)
{
    var postData = $(this).serializeArray();
    var formURL = $(this).attr("action");
    $.ajax(
    {
        url : formURL,
        type: "POST",
        data : postData,
        success:function(data, textStatus, jqXHR)
        {
            //data: return data from server
            refreshWeeshesEvents()
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            //if fails
        }
    });
    e.preventDefault(); //STOP default action
    e.unbind(); //unbind. to stop multiple form submit.
});

$( document ).ready(function() {
    refreshWeeshesEvents()
});

function refreshWeeshesEvents() {
     $.ajax({
             url: '{% url 'weeshesevents' %}',
             success: function(data) {
                    $('#weeshes-list').html(data);
             }
     });
}
 </script>


