<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wishes</title>
    <link rel="stylesheet" type="text/css" href="../../static/upto/wishes.css">
    <link rel="stylesheet" type="text/css" href="/static/js/datetimepicker/jquery.datetimepicker.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <style type="text/css">

.custom-date-style {
	background-color: red !important;
}

.input{
}
.input-wide{
	width: 500px;
}

</style>
</head>
<body>
<script src="/static/js/datetimepicker/jquery.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/imagepreview.js"></script>
<script src="/static/js/datetimepicker/build/jquery.datetimepicker.full.js"></script>
<script type="text/javascript" src="/static/js/autoCompleteAddress.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcRm_4W48Hu4OdwAHSaIfmWerF475RQA0&libraries=places&callback=initAutocomplete" async defer></script>
<script src="/static/js/sockjs-1.0.0.min.js"></script>
<script src="/static/js/stomp.js"></script>
<script src="/static/js/listener-app.js"></script>
<script src="/static/js/moment.min.js"></script>
<div class="container-fluid">
    <div class="row">
            <div id="col-sm-12">
                <div id="header-container">
                     <div class="row">
                        <div class="col-sm-1">
                            <div><img class="img-responsive" src="/static/medias/logo_fake.png" width="50" height="50"/></div>
                        </div>
                         <div class="col-sm-1">
                            <div><img class="img-responsive" src="/static/medias/event_notif_fake.png" width="50" height="50"/></div>
                        </div>
                         <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <form  name="addweesh" id="addweesh" action="../createwish/" method="POST">
                                <div class="input-list style-1 clearfix"><input type="text" name="weeshtitle" id="weeshtitle" placeholder="Make a weesh..."></div>
                                <input id="create_weesh" value="Yes I do" type='submit'>
                            </form>
                        </div>
                     </div>

                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-sm-3">
            <div id="left-profile-container">
                <div id="myAccount">
                        {% if current_user.picture %}
                            <img src='data:image/jpeg;base64,{{ current_user.get_picture }}' height="50">
                        {% endif %}
                    <a id='username' href="{% url 'account' %}">{{ current_user.user.username }}</a></div>
                <div><a href="{% url 'logout' %}">Logout</a></div>
                <div>Your weeshes :</div>
                <div>
                    <ul id="myWeeshes">
                        {% if wishes_user %}
                            {% for wish in wishes_user %}
                                <li>{{ wish.title }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div id="left-filter-container">
                <div>Filtered by :</div><br />
                <div>
                    <form action="{% url 'filter' %}" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" />
                    </form>
                </div>
            </div>
            <div id="left-event-container">
                <h1>Create an event</h1>
                {% block content %}
                <form action="{% url 'createevent' %}" id="addevent" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div>Event picture : <div id="preview1"> Import your picture </div>
                        <div><input type="file" name="thumbnail" id="thumbnail"></div>
                    </div>
                    <div>Event Name : <input type="text" name="eventName" /></div>
                    <div>Je suis Owner : {{ current_user.user_id.user.username }}<input type="text" name="user_id" value="{{ current_user.id }}"/></div>

                    <div>Start date : <input type="text" name="start_date" id="default_datetimepicker1" readonly/></div>
                    <div>End date : <input type="text" name="end_date" id="default_datetimepicker2" readonly/></div>
                   <div id="address">
                    <div id="locationField">
                      <input id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text"></input>
                    </div>
                        <div class="label">Street address</div>
                        <div class="slimField"><input class="field" id="street_number" disabled="true"></input></div>
                        <div class="wideField" colspan="2"><input class="field" id="route" disabled="true"></input></div>
                        <div>
                        <div class="label">City</div>
                        <div class="wideField" colspan="3"><input class="field" id="locality" disabled="true"></input></div>
                        </div>
                      <div>
                        <div class="label">State</div>
                        <div class="slimField"><input class="field" id="administrative_area_level_1" disabled="true"></input></div>
                        <div class="label">Zip code</div>
                        <div class="wideField"><input class="field" id="postal_code" disabled="true"></input></div>
                      </div>
                      <div>
                        <div class="label">Country</div>
                        <div class="wideField" colspan="3"><input class="field" id="country" disabled="true"></input></div>
                      </div>
                    </div>

                <input type="submit" value="Create Event" />
                </form>
                {% endblock %}
            </div>
        </div>
        <div id="output">
            <!-- incoming messages will be printed here -->
        </div>
        <div class="col-sm-6" id="weeshes-list">
        </div>
        <div id="dialog"></div>
        <div class="col-sm-3">
            <div id="right-suggestions-container">
                Suggestions
                <div> Star wars Watching</div>
                <div>Tennis 5km</div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/static/js/datetimepicker/selecterDatetimepicker.js"></script>
<script>/*$(function() {
    $('#preview1').imagepreview({
        input: '[name="thumbnail"]',
        reset: '#reset1',
        preview: '#preview1'
     });
 });*/

$("#addweesh").submit(function(e)
{
    //Stop form from submitting normally
    e.preventDefault(); //STOP default action

    var postData = $(this).serializeArray();
    var formURL = $(this).attr("action");
    $.ajax(
    {
        url : formURL,
        type: "POST",
        data : postData,
        success:function(data, textStatus, jqXHR)
        {
            //data: return data from server
            //refreshWeeshesEvents()
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            //if fails
        }
    });


    e.unbind(); //unbind. to stop multiple form submit.
});

$("#addevent").submit(function(e)
{
    //Stop form from submitting normally
    e.preventDefault(); //STOP default action

    //var postData = $(this).serializeArray();
    var formURL = $(this).attr("action");
    $.ajax(
    {
        url : formURL,
        type: "POST",
        data: new FormData(this),
        processData: false,
        contentType: false,
        success:function(data, textStatus, jqXHR)
        {
            //data: return data from server
            //refreshWeeshesEvents()

        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            //if fails
        }
    });
    e.unbind(); //unbind. to stop multiple form submit.
});


$( document ).ready(function() {

    refreshWeeshesEvents()

    output = document.getElementById("output");

    // Connect to user queue
    client.connect(
        mq_username,
        mq_password,
        on_connect,
        on_connect_error,
        mq_vhost
    );

    // Autocomplete for tags

    function split( val ) {
       return val.split( / \s*/ );
    }

    function extractLast( term ) {
       return split( term ).pop();
    }

    $( "#weeshtitle" )
    // don't navigate away from the field on tab when selecting an item
          .bind( "keydown", function( event ) {
            if ( event.keyCode === $.ui.keyCode.TAB &&
                $( this ).autocomplete( "instance" ).menu.active ) {
              event.preventDefault();
            }
          })
          .autocomplete({
            minLength: 2,
            source: function( request, response ) {
              // delegate back to autocomplete, but extract the last term
              lastTerm = extractLast( request.term );
              if(lastTerm.charAt(0) == '#' && lastTerm.length >= 2 )
              {

                    $.ajax({
                        url: '{% url 'getautocompletetags' %}',
                        dataType: "json",
                        data: {
                                tag: lastTerm
                        },
                        success: function( data ) {
                            response( data.tags.map(function(tag) {return tag.title;}));
                        }
                    });

              //  var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( lastTerm ), "i" );
              //      response( $.grep( availableTags, function( item ){
               //         return matcher.test( item );
               //     }) );
              }
            },
            focus: function() {
              // prevent value inserted on focus
              return false;
            },
            select: function( event, ui ) {
              var terms = split( this.value );
              // remove the current input
              terms.pop();
              // add the selected item
              terms.push( ui.item.value );
              // add placeholder to get the space at the end
              terms.push( "" );
              this.value = terms.join( " " );
              return false;
            }
    });


    //Activer les popups

    $('li[id*="weesh"]').click(function(){
            $(this).dialog({
                modal: true

            });
    });

    $('li[id*="event"]').click(function(){
        var fullidEvent = this.id;
        var n = fullidEvent.indexOf("_");
        var idEvent = fullidEvent.substring(n+1, fullidEvent.length);

        $.ajax({
                url: '{% url 'popupevent' %}',
                data: { id : idEvent},
                success: function(data) {
                    $('#dialog').html(data).dialog({modal: true}).dialog('open');
                }
        });
    });
});

function refreshWeeshesEvents() {
     $.ajax({
             url: '{% url 'weeshesevents' %}',
             success: function(data) {
                    $('#weeshes-list').html(data);
             }
     });
}

function getWeeshById(idWeesh) {
     $.ajax({
             url: '{% url 'getweeshbyid' %}',
             data: { id : idWeesh},
             success: function(data) {
                   $('#weeshesevents').prepend(data);
                   if(data.username == $('#username').text())
                   {
                        li = "<li>" + data.wish[0].title + "</li>";
                        $('#myWeeshes').prepend(li);
                   }

             },
             error: function(jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
             }
     });
}

function getEventById(idEvent) {
     $.ajax({
             url: '{% url 'geteventbyid' %}',
             data: { id : idEvent},
             success: function(data) {
                   $('#weeshesevents').prepend(data);
             },
             error: function(jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
             }
     });
}



// Use SockJS
Stomp.WebSocketClass = SockJS;

// Connection parameters
var mq_username = "youweesh",
    mq_password = "upto2016",
    mq_vhost    = "/",
    mq_url      = 'http://' + window.location.hostname + ':15674/stomp',
    mq_queue = "/queue/{{ current_user.user.username }}";


// This is where we print incomoing messages
var output;

// This will be called upon successful connection
function on_connect() {
  output.innerHTML += 'Connected to RabbitMQ-Web-Stomp<br />';
  console.log(client);
  client.subscribe(mq_queue, on_message);
}

// This will be called upon a connection error
function on_connect_error() {
  output.innerHTML += 'Connection failed!<br />';
}

// This will be called upon arrival of a message
function on_message(m) {

    if(m.headers['type'] == "weesh")
    {
        getWeeshById(m.headers['id']);
    }
    else if(m.headers['type'] == "event")
    {
        getEventById(m.headers['id']);
    }


}

// Create a client
var client = Stomp.client(mq_url);


 </script>


