body {
    background: white url("images/background.gif") no-repeat right bottom;
}

div#header {
    background-color:#3764a7;
}

div#content {
    background-color:yellow;
    float:right;
	width:100%;
}

div#rightAdvertise {
    background-color:red;
	float:right;
	width:100px;
	height:400px;
}

div#sigin {
    background-color:black;
    float:left;
}

input[type="range"] {
    position: relative;
    margin-left: 1em;
}
input[type="range"]:after,
input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}
input[type="range"]:before {
    left:0em;
    content: attr(min);
}
input[type="range"]:after {
    right: 0em;
    content: attr(max);
}

.firefox input[type=range]::-moz-range-track {
    border-radius: 8px;
    height: 7px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
}
.firefox input[type=range]::-moz-range-thumb {
    background: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}